*{
    padding: 0;
    margin: 0;
}

body{   
    
    height: 450px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: radial-gradient(#7072ed, transparent)no-repeat;
}


h1{
    color: #c92c2cdd; 
    text-align: initial;
    margin-bottom: 24px;
    padding: 11px;
}

nav{
   display: flex;
   justify-content: center;
}

ul{
    padding: 20px;
    list-style: none;
    flex-direction: column
}

 h3{
    color: #a8575b;
}