*{
    padding: 0;
    margin:0;
}

body{
    background: #c9a;
}
 
li{
    color: red;
}

body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #141414dd;
}

h2{
    color: #c92c2cdd;
}

h1{
    color: #c59797dd; 
    display: flex;
}

li{
    list-style: none;
    display: contents;
    
}

.articulos{
    display: flex;
    padding: 50px;
}

article{
    margin-right: 2px;
}