*{
    padding:0 ;
    margin: 0;
}

body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #b37f7fdd;
}

h2{
    color: #c92c2cdd;
}

h1{
    color: #c92c2cdd; 
    display: flex;
}

ul{
   
}

li{
    list-style: none;
    display: contents;
    
}

.articulos{
    display: flex;
    padding: 50px;
}

article{
    margin-right: 30px;
}
